name: lint-test-build-push
on:
  push:
    paths-ignore:
      - "**/*.md"
      - "docs/**"
      - ".github/workflows/deploy-docs.yml"
      - "renovate.json5"
    branches:
      - "**"
    tags:
      - "*"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  id-token: write
jobs:
  lint-test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version: ">=1.25.1"

      - name: golangci-lint
        uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47 # v9
        with:
          version: latest

      - name: lint
        run: make lint

      - name: Build
        run: make build

      - name: Put fixture in place
        run: cp scyllaridae.example.yml scyllaridae.yml

      - name: unit tests
        run: make test

      - name: integration tests
        run: make integration-test
