name: validate renovate.json5

on:
  pull_request:
    paths:
      - "renovate.json5"
env:
  LOG_LEVEL: debug

jobs:
  renovate-config-validator:
    runs-on: ubuntu-24.04
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: 24

      - run: npx -p renovate renovate-config-validator renovate.json5
